* {
	padding: 0;
	margin: 0;
}

html,body {
	width: 100%;
	height: 100%;
	display: flex;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.container {
	display: flex;
	margin: auto;
	width: 800px;
	height: 400px;
	box-shadow: 4px 4px 20px #014670;
}

.login {
	order: 1;
	width: 300px;
	background-color: #eaeaea;
	text-align: center;
	
}
.titulo h1{
	margin-top: 50px;
	margin-bottom: 10px;
	color: #014670;
	font-size: 35px;
}
.titulo h3{
	margin-top: 22px;
	margin-bottom: 30px;
	color: #014670;
	font-size: 30px;
}

.formulario input,boton {
	width: 80%;
	height: 35px;
	margin-top: 25px;
	padding-left: 8px;
	box-sizing: border-box;
	outline: none;
	border:1px solid #014670;
	color: #014670;

}

.formulario boton {
	padding: 0;
	font-size: 15px;
	background-color: white;
}

.formulario boton:hover, input:hover {
	box-shadow: 3px 3px 3px rgba(1,70,112,.5);
}

.formulario a {
	display: block;
	font-size: 13px; 
	text-align: right;
	margin: 10px 32px;
	color: #014670;
}

.segundo_apartado {
	display: flex;
	order: 2;
	flex-grow: 2;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #eee;
}

.segundo_apartado span {
	margin: auto;
}

.segundo_apartado span p {
	font-size: 15px;
}

.segundo_apartado  span img {

	width: 200px;
	 height: 200px;
}

.container2 {
	display: flex;
	margin: auto;
	margin-top: 60px;
	margin-left: 390px;
	width: 600px;
	height: 510px;
	box-shadow: 4px 4px 4px #014670;
}
.adicionar {
	order: 1;
	width: 600px;
	height: 510px;
	background-color: #eaeaea;
	text-align: center;
}

.containermenu {
	
	margin-top: 0px;
	margin-left: 0px;
	width: 1370px;
	height: 55px;
	background-color: #eaeaea;
}



.imagenproductoAd {
	
	order: 2;
	width: 110px;
	height: 100px;
	border: 2px;
	margin-left: 20px;
	text-align: center;
	color: #eee;
}

.cuadrotexto {
	margin-left: 21px;
}
.cuadrotexto2 {
	width: 530px;
	height: 70px;
}

.cuadrotexto3 {
	width: 300px;
	height: 28px;
}
