{% extends "_layout.html" %}

{% block contenido %}
    {% from "_formhelpers.html" import render_field %}
    <h1>Agregar Nuevo Producto</h1>
    <div class="px-2">
        <form class="border border-primary" action="" method="post" novalidate>
            <div class="form-group col">
                {{ form.hidden_tag() }}
                <dl>
                    {{ render_field(form.ref) }}
                    {{ render_field(form.nombre) }}
                    {{ render_field(form.precio) }}
                    {{ render_field(form.cantidad) }}
                    {{ render_field(form.imagen) }}
                </dl>
                <p>{{ form.enviar() }}</p>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="text-warning"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}